<div class="checkout">
  <h1>Thanh toán</h1>
  <div class="row">
    <div class="col-sm-7">
      <h3>Thêm địa chỉ giao hàng</h3>
      <p class="message-p">{{orderMsg}}</p>
      <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
        <input
          type="text"
          class="form-input"
          name="email"
          placeholder="Enter User Email"
          ngModel
        />
        <input
          type="text"
          class="form-input"
          name="address"
          placeholder="Enter User Address"
          ngModel
        />
        <input
          type="text"
          class="form-input"
          name="contact"
          placeholder="Enter contact details"
          ngModel
        />
        <button class="form-button">Đặt hàng ngay</button>
      </form>
    </div>
    <div class="col-sm-5">
        <h3>Tổng cộng: {{totalPrice}}</h3>
        <h4>Phương thức thanh toán : <b>Thanh toán khi nhận hàng</b></h4>
    </div>
  </div>
</div>
