.cart-page{
    margin-top: 40px;
    margin-bottom: 50px;
}
.cart-page h1{
    text-align: center;
}
.details {

}
.details img{
    height: 100px;
}
.details ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;

}
.summary h3{
    text-align: center;
}

.summary ul {
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 15px;
}
.summary ul li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.read-more {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 0;
  display: block;
  background: #333;
  text-align: center;
  text-decoration: none;
  transition: all .3s ;

}
.read-more i {
  margin-left: 4px;

}
.read-more:hover{
  background: #fe5b29;
  color: #fff;

}
.read-more:hover i {
  margin-left: 6px;
}
