<div class="add-product">
  <h1>Thêm sản phẩm mới</h1>
  <p class="message-p">{{addProductMessage}}</p>
  <form #addProduct="ngForm"
  (ngSubmit)="submit(addProduct.value)"
   class="common-form">
    <input
      type="text"
      class="form-input"
      placeholder="Nhập tên sản phẩm"
      name="name"
      ngModel
    />
    <input
    type="text"
    class="form-input"
    placeholder="Nhập giá sản phẩm"
    name="price"
    ngModel
  />
  <input
  type="text"
  class="form-input"
  placeholder="Nhập danh mục sản phẩm"
  name="category"
  ngModel
/>
<input
type="text"
class="form-input"
placeholder="Nhập màu sản phẩm"
name="color"
ngModel
/>
<textarea
type="text"
class="form-input"
placeholder="Nhập mô tả sản phẩm"
name="description"
ngModel
></textarea>

<input
type="text"
class="form-input"
placeholder="Nhập URL hình ảnh sản phẩm"
name="image"
ngModel
/>
<button class="form-button">Thêm sản phẩm</button>

  </form>
</div>
