table{
    text-align: left;
    color: black;
    border-collapse: collapse;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
}
img{
    height: 100px;
    width: 100px;
}
table td , table th{
    border: 1px solid #fe5b29;
    padding: 10px;
    min-width: 160pxs;
}
.adjust-update-link{
    margin-left: 10px;
}
.main
{
  position: absolute;
  width: 100%;
  top: 4rem;
  z-index: 1;
}
.menu {
  position: absolute;
  left: 0rem;
  width: 250px;
  height: calc(100vh - 4rem);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(34, 34, 34, 1);
  border-top: 1px solid white;
}
.display-area
{
  position: absolute;
  left: 250px;
  width: calc(100% - 250px);
}
