<div class="seller-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Đăng ký quản lý</h1>
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
      <input
        type="text"
        class="form-input"
        placeholder="Enter Name"
        name="name"
        ngModel
      />
      <input
        type="password"
        class="form-input"
        placeholder="Enter Password"
        name="password"
        ngModel
      />
      <input
        type="text"
        class="form-input"
        placeholder="Enter Email"
        name="email"
        ngModel
      />
      <button class="form-button">Đăng nhập</button>
      <a class="auth-toggle-link" (click)="openLogin()">Đã có tài khoản? Bấm để đăng nhập</a>
    </form>
  </div>

  <div *ngIf="showLogin" class="login">
    <h1>Đăng nhập quản lý</h1>
    <p class="error-p">{{authError}}</p>
    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
      <input
      type="text"
      class="form-input"
      placeholder="Enter Email"
      name="email"
      ngModel
    />
      <input
        type="password"
        class="form-input"
        placeholder="Enter Password"
        name="password"
        ngModel
      />
      <button class="form-button">Đăng nhập</button>
      <a class="auth-toggle-link" (click)="openSignUp()">Không có tài khoản? Bấm để đăng ký</a>

    </form>
  </div>
</div>
