.user-auth h1{
    margin-top: 50px;
    margin-bottom: 80px;
    color: #fe5b29;
    text-align: center;
}

.user-auth {
    margin-bottom: 100px;
}
.user-auth a{
    color: #fe5b29;
    cursor: pointer;
}
