<ngb-carousel *ngIf="popularProducts">
    <ng-template  *ngFor="let item of popularProducts" ngbSlide>
      <div class="picsum-img-wrapper">
        <a routerLink="/details/{{item.id}}"> <img class="product-header-image" src="{{item.image}}" alt="Random first slide">
     </a>
        </div>
      <div class="carousel-caption">
        <h3>{{item.name}}</h3>
        <p>{{item.description}}</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="search_section">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h1 class="search_taital">Danh Mục</h1>
             <!-- select box section start -->
             <div class="container">
                <div class="select_box_section">
                   <div class="select_box_main">
                      <div class="row">
                         <div class="col-md-3 select-outline">
                            <select class="mdb-select md-form md-outline colorful-select dropdown-primary">
                               <option value="" disabled selected>Any Brand</option>
                               <option value="1">Option 1</option>
                               <option value="2">Option 2</option>
                               <option value="3">Option 3</option>
                            </select>
                         </div>
                         <div class="col-md-3 select-outline">
                            <select class="mdb-select md-form md-outline colorful-select dropdown-primary">
                               <option value="" disabled selected>Any type</option>
                               <option value="1">Option 1</option>
                               <option value="2">Option 2</option>
                               <option value="3">Option 3</option>
                            </select>
                         </div>
                         <div class="col-md-3 select-outline">
                            <select class="mdb-select md-form md-outline colorful-select dropdown-primary">
                               <option value="" disabled selected>Price</option>
                               <option value="1">Option 1</option>
                               <option value="2">Option 2</option>
                               <option value="3">Option 3</option>
                            </select>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <!-- select box section end -->
          </div>
       </div>
    </div>
 </div>

<div class="product-list-wrapper">
<h1>Sản phẩm bán chạy</h1>
<div class="row">
  <div class="col-sm-3" *ngFor="let item of trendyProducts">
    <div class="product-item">
      <img src="{{item.image}}" alt="">
    <div class="product-details">
      <h6 class="name-head">{{item.name}}</h6>
      <div class="product-price">
        <h6>Giá:{{item.price}}</h6>
      </div>
      <div class="product-color">
        <h6>Màu:{{item.color}}</h6>
      </div>
    </div>
    <div class="product-footer">
      <button  routerLink="/details/{{item.id}}" type="button" class="btn btn-outline-success" >Xem chi tiết</button>
      <button  routerLink="/details/{{item.id}}" type="button" class="btn btn-outline-success" >Mua ngay</button>
    </div>
    </div>
  </div>


</div>
</div>


